body {
    background-color: #C4DACF;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
    /* max-width: 90%; */
    margin: 0 auto 0 auto;
    width: 88%;
}


/* HEADER */

header {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #C4E7D4;
    color: #998DA0;
  }
  
header h1 {
    display: inline-block;
    font-size: 3.5em;
    margin-left: 1em;
}

header nav {
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5em;
    padding-top: 1.5em;
    margin-right: 2em;
}

header nav ul li {
    display: inline-block;
    margin-left: 1em;
    position: relative;
    right: 2em;
  } 


/* BANNER */


.banner #hero-banner {
    position: relative;
    height: 20em;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.banner > h2 {
    
    position: absolute;
    color: #ffff;
   right: 3em;
   z-index: 2;
   transform: translateY(-100px);
 
    
}

.banner #portrait { 
    position: absolute;
    z-index: 2;
    transform: translate(30%, 20%);
    border: 3px solid white;
    border-radius: 25px
}



/* CONTENT */

section {
    display: flex;
    flex-direction: row;
    
}

section h2 {
    font-size: 3em;
    border-right: 0.1em solid green;
    /* padding-right: 1em; */
    text-align: right;
    margin-right: 1em;
    padding: 0 0.5em 3em 0;
    width: 10vw;
}


/* CONTENT - ABOUT */

.about span {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5em;
   
}

.about h2 {
    margin-left: 2.3em;
}


/* CONTENT - WORK */

.content, .projects {
    padding: 3em;
}

.work-container {
    display: flex;
    margin: 0 2em 2em 0;
     flex: 0 auto;
     flex-wrap: wrap;
     gap: 1em;
     justify-content: space-between;

}


.projects {
    border: 4px solid white;
    display: flex;
    align-items: flex-end;
    flex: 0 auto;
} 


/* .projects: */

.column {
    /* display: inline-block; */
    border: 5px solid black;
    background-color: white;
    padding: 0 0.5em 0 0;
    position: relative;
    right: 48px;

}

.column > h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 0 0.5em;
}

.column > p {
    margin: 0 0 0.5em 0.5em;
    
}

a:link {
    text-decoration: none;
}

/* WORK IMAGES */

.surf {
    background-image: url("../images/surf.jpg");
    background-size: cover;
    width: 100%;
    height: 35vh;
  
}

.LED {
    background-image: url("../images/LED-Wall.png");
}

.calculator {
    background-image: url("../images/calculator.jpg");
    
}

.pastel {
    background-image: url("../images/pastel.jpg");
    background-size: contain;
}

.run {
    background-image: url("../images/running.jpg");
    background-size: cover;
}

.LED, .calculator, .pastel, .run {
    width: 41%;
    height: 15vh;
}

/* CONTENT - CONTACT */

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact address {
    display: flex;
   align-items: center;
  
}