/* ALL ELEMENTS/BODY */
/* Adjust all elements to have border-box sizing */

* {
    box-sizing: border-box;
}

:root {
    --primary: #eaf4f4;
    --text: #6b9080;
    --borders: #a4c3b2;
    --tertiary: #b5179e;
    --body: #2d6a4f;
    --links: #e2a7ff;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* HEADER */

header {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: var(--primary);
    color: var(--text);
  }
  
header h1 {
    display: inline-block;
    border-bottom: 5px solid var(--borders);
    margin: 1em 0 1em 1em;
    font-size: 3em;
}

header nav {
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5em;
    padding-top: 1.5em;
    margin-right: 2em;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em 0 1em;
    position: relative;
  } 

header nav ul li a:hover {
    color: var(--links); 
}

/* BANNER */

.banner #hero-banner {
    position: relative;
    height: 20em;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.banner > h2 {
    position: absolute;
    color: var(--primary);
    right: 3em;
    z-index: 2;
    transform: translateY(-100px);
    font-size: 1em;
}


.banner #portrait { 
    position: absolute;
    z-index: 2;
    transform: translate(30%, 20%);
    border: 3px solid var(--borders);
    border-radius: 25px;
    box-shadow: 10px 10px 10px grey;
}

/* OVERALL CONTENT */

main {
    max-width: 88%;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--body);
}

/* SECTION HEADERS */

section h2 {
    font-size: 2em;
    border-right: 0.1em solid var(--borders);
    text-align: right;
    margin-right: 1em;
    padding: 0 0.5em 3em 0;
    flex: 0 0 20%;
}

/* CONTENT - ABOUT ME */

.about span {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.1em;
   
}

/* CONTENT - WORK/PROJECTS AREA */

.content, .projects {
    padding: 3em;
}

.work-container {
    display: flex;
    margin: 0 2em 2em 0;
     flex: 0 auto;
     flex-wrap: wrap;
     gap: 1em;
     justify-content: space-between;
}

.projects {
    border: 6px solid var(--borders);
    display: flex;
    align-items: flex-end;
    opacity: 0.75;
    transition: all 0.50s;
    
} 

.projects:hover {
    opacity: 1;
}

/* TEXT LAYING ON TOP OF PROJECTS */
.column {
    border: 5px solid var(--borders);
    background-color: var(--borders);
    color: var(--tertiary);
    padding: 0 0.5em 0 0;
    position: relative;
    right: 48px;
    top: 15px;
}

.column > h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0.15em 0 0 0.15em;
}

.column > p {
    margin: 0 0 0.15em 0.15em;
    
}

a {
    text-decoration: none;
    color: var(--text);
    border-bottom: 2px solid var(--tertiary);
    padding: 0 0 0.1em 0;
}

/* WORK IMAGES */

.surf {
    background-image: url("../images/surf.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.LED {
    background-image: url("../images/LED-Wall.png");
}

.calculator {
    background-image: url("../images/calculator.jpg");
    
}

.pastel {
    background-image: url("../images/pastel.jpg");
    background-size: contain;
}

.run {
    background-image: url("../images/running.jpg");
    background-size: cover;
}

.LED, .calculator, .pastel, .run {
    width: 48.5%;
    height: 20vh;
}

/* CONTENT - CONTACT */

.contact address {
    display: flex;
    flex: 1 0 70%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    padding: 
}

.contact address a {
    margin: 0.5em;
}

.contact address a:hover {
    color: var(--links); 
}

/* MEDIA QUERIES USING SEVERAL BREAKPOINTS */

/* MAIN BREAKPOINT */

@media screen and (max-width: 992px) {
    main {
        margin: 0 auto 0 auto;
        padding: 0;
    }

    #portrait { 
        width: 200px;
        height: auto;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    header h1, section h2 {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 3em;
        border-bottom: 5px solid var(--borders);
        border-right: none;
        text-align: center;
        flex-grow: 1;
    }

    header h1, section h2 {
        margin: 1em;
    }

    header nav {
        margin: 0;
        padding: 0;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .work-container {
       flex: 0 0 100%;
    }

    .column {
        font-size: 0.7em;
    }

    .contact address {
        display: flex;
        flex-wrap: wrap;
      }

      .LED, .calculator, .pastel, .run {
        width: 48%;
        height: auto;
    }
}

/* FOR SMALLER SCREENS  */

@media only screen and (max-width: 768px) {

    header nav ul li {
        margin: 0 0.2em 0 0.2em;
    }

    .contact address {
      flex-direction: column;
    }

    .contact address a {
        margin: 0.5em;
    }

    #portrait { 
        width: 125px;
        height: auto;
    }
}



  